# ==========================
# Operating System
# ==========================
.DS_Store
Thumbs.db
Desktop.ini

# ==========================
# VS Code
# ==========================
.vscode/

# ==========================
# Logs
# ==========================
*.log

# ==========================
# Temporary Files
# ==========================
*.tmp
*.temp
~$*

# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*.pyo

# ==========================
# Virtual Environments
# ==========================
.venv/
venv/
env/

# ==========================
# Power BI Temporary Files
# ==========================
*.pbix.autosave

# ==========================
# Excel Temporary Files
# ==========================
~$*.xlsx
~$*.xls

# ==========================
# Draw.io Temporary Files
# ==========================
*.drawio.bkp

# ==========================
# macOS
# ==========================
.AppleDouble
.LSOverride

# ==========================
# Windows
# ==========================
ehthumbs.db
